button {
    padding: 30px 50px;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    background-color: #FFA07A;
    border: 4px solid #FFA07A;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: .3s;
    outline: none;
}

button:hover {
    background-color: #FFA07A;
}

button:before, button:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 50%;
    transition: .3s;
    z-index: -1;
}

button:before {
    border-bottom: 4px solid #FFA07A;
    border-left: 4px solid #FFA07A;
    top: 60%;
    left: -5%;
}

button:after {
    border-top: 4px solid #FFA07A;
    border-right: 4px solid #FFA07A;
    bottom: 60%;
    right: -5%;
}

button:active:before {
    top: 65%;
    left: -8%;
}

button:active:after {
    bottom: 65%;
    right: -8%;
}

button:active:before, button:active:after {
    width: 30%;
    height: 60%;
}